@use 'variaveis';

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url('../images/hero.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    &__content {
        width: 90%;
        max-width: 1200px;
        padding: 2rem;

        
    }
}
